html {
  box-sizing: border-box;
}

body {
  background-color: #265515;
  margin: 0;
  padding: 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vh;
  height: 90vh;
  margin: 10px auto;
}

.title__container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title__text {
  margin-left: 20px;
  font-size: 70px;
  color: #ffffff;
}

.score-board__container {
  display: flex;
  margin: 10px 0;
  width: 70%;
}

.realtime__score {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.best__score {
  display: flex;
  align-items: center;
}


.score__icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.score__text {
  font-size: 30px;
  color: #ffffff;
}

.board__container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.board__cell {
  width: 25px;
  height: 25px;
}

.cell-even {
  background-color: #A4D34D;
}

.cell-odd {
  background-color: #61BB29;
}

.snake__cell {
  background-color: #0057FF;
}

.snake__head {
  background: url('../assets/snake-head.svg');
  background-color: #ffffff;
}

.apple-icon {
  width: 25px;
  height: 25px;
}

.control-board__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 10px 0
}

.control-board__container button {
  font-size: 40px;
  color: #ffffff;
  border-radius: 10px;
  border: 0;
  padding: 5px 35px;
}

.restart-btn {
  background-color: #D33039;
}

.reset-btn {
  background-color: #0057FF;
}