html {
  box-sizing: border-box;
}

body {
  background-color: #265515;
  margin: 0;
  padding: 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vh;
  height: 90vh;
  margin: 10px auto;
}

.title__container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title__text {
  margin-left: 20px;
  font-size: 70px;
  color: #ffffff;
}

.scoreboard__container {
  display: flex;
  margin: 10px 0;
  width: 70%;
}

.realtime__score {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.best__score {
  display: flex;
  align-items: center;
}


.score__icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.scoreboard__score__text {
  width: 70px;
  font-size: 30px;
  color: #ffffff;
}

.board__container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.board__cell {
  width: 25px;
  height: 25px;
}

.cell-even {
  background-color: #A4D34D;
}

.cell-odd {
  background-color: #61BB29;
}

.snake__cell {
  background-color: #0057FF;
}

.snake__head-Right {
  background: url('../assets/snake-head.svg');
  background-color: #ffffff;
  transform: rotate(0deg);
}

.snake__head-Down {
  background: url('../assets/snake-head.svg');
  background-color: #ffffff;
  transform: rotate(90deg);
}

.snake__head-Left {
  background: url('../assets/snake-head.svg');
  background-color: #ffffff;
  transform: rotate(180deg);
}

.snake__head-Up {
  background: url('../assets/snake-head.svg');
  background-color: #ffffff;
  transform: rotate(270deg);
}

.snake__head__collision-Right {
  background: url('../assets/snake-head-collision.svg');
  background-color: #ffffff;
  transform: rotate(0deg);
}

.snake__head__collision-Down {
  background: url('../assets/snake-head-collision.svg');
  background-color: #ffffff;
  transform: rotate(90deg);
}

.snake__head__collision-Left {
  background: url('../assets/snake-head-collision.svg');
  background-color: #ffffff;
  transform: rotate(180deg);
}

.snake__head__collision-Up {
  background: url('../assets/snake-head-collision.svg');
  background-color: #ffffff;
  transform: rotate(270deg);
}

.apple-icon {
  width: 25px;
  height: 25px;
}

.control-board__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 10px 0
}

.control-board__container button {
  font-size: 40px;
  color: #ffffff;
  border-radius: 10px;
  border: 0;
  padding: 5px 35px;
}

.restart__btn {
  background-color: #D33039;
}

.reset__btn {
  background-color: #0057FF;
}

.modal__container-hidden {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  background-color: #0E768D;
  transform: translate(-50%, -50%);
  padding: 40px 60px;
  opacity: 80%;
}

.modal__container-show {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  background-color: #0E768D;
  transform: translate(-50%, -50%);
  padding: 40px 60px;
  opacity: 80%;
}


.modal__snake__icon {
  width: 70px;
}

.modal__gameover__text {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

.modal__score__result {
  display: flex;
  text-align: center;
}

.modal__best__score, .modal__realtime__score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__score__result img {
  margin: 10px 40px;
}

.modal__score__text {
  width: 70px;
  font-size: 30px;
  color: #ffffff;
}

.modal__control__btns {
  display: flex;
  flex-direction: column;
}

.modal__control__btns {
  margin-top: 20px;
}

.modal__control__btns button {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  color: #fff;
  font-style: italic;
}

.modal__restart__btn {
  background-color: #083366;
  margin-bottom: 20px;
}

.modal__stopplaying__btn {
  background-color: #551515;
}